/* Main HTML css to follow */
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.score-time{

  display: inline-flex;
}

.highscores{
  font-size: 35px;
}
.game-body{
 
    max-width:700px;
    max-height: 700px;
    margin: auto;
 
}
.intro-page{
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

#intro-section{
  display: block;
  font-size: 30px;
  margin: 30, 150px, 30px, 150px,
}
/* adding decorations to the button */
#start-button{
  display: flex;
  justify-content: center;
  margin-left: 250px;
  font-size: 25px;
  background-color: oldlace;
  color: black;
}
#timer-count{
  display: flex;
 flex-direction: column;
  margin-left: 700px;
  font-size: 55px;
}
/* getting the quetions to line up correctly */
#questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  text-align: center;
}

.question-container {
  text-align: center;
}
/* making sure the table is presentable */
.answer-container {
  flex-direction: column;
  align-items: center;
}
#final-form{
  font-size: 40px;
  max-width: 500px;
  margin: auto;
}
.form-label{
  display: block;
  margin-left: 150px;
  margin-bottom: 10px;
}
/* making sure the initial box is large to fit the page */
#username{
  width: 100%;
  padding: 10px;
  border: 4px solid rgb(55, 235, 232);
  margin: 30px 20px 30px 0px;
}

button.answer {
  display: flex;
  align-items: column;
  margin: 10px;
  font-size: 40px;
  background-color: oldlace;
  display: block;
}
#message-box{
  font-size: 25px;
  color: rgb(184, 184, 239);
}
#userscore{
 
  display: noen;
  text-align: center;
  font-size: 30px;
}
#submit {
  margin-left: 200px;
  font-size: 40px;
  background-color: oldlace;
  display: block;
}
/* adding hovers for decorations */
button.answer:hover, #start-over:hover, #clear-scores:hover, #start-button:hover, #submit:hover{
  background-color: rgb(218, 238, 239);
  color: rgb(35, 112, 180);
  box-shadow: none;
}
#questions,
#questions-box {
  display: block;
}

#questions, .answer-container{
  display: none; 
} 
/* Highscore html css to follow */

.score-page{
  font-size: 54px;
  display: block;
  text-align: center;
}
/* adding decorations to answer buttons */
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table-Section{
  font-size: 35px;
  background-color: #f9f9f9;
  border: 5px solid #ddd;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-section th,
.table-section td {
  font-size: 35px;
  padding: 20px;
  text-align: center;
  border: 3px solid #ddd;
}


.button{
 margin-top: 50px;
}
#start-over, #clear-scores{
  font-size: 25px;
  display: flex-inline;
  justify-content: space-around;
  margin-left: 10px;
  background-color: oldlace;
  color: black;
}

.hide {
  display: none;
}